/* Universal Styles*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body{

}
/* use for mutliple class selection*/
span[class|="foot"]{
}

/*div{
  border: solid 1px green;
} */

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

img {
  max-width: 100%;
}

/* Header */

header{
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 24px;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
}

nav span {
  padding-right: 16px;
}

.mobile-menu {
  display: none;
}

#imprint {
  font-weight: bold;
}

/* media queries: Header */


@media only screen and (max-width: 600px){
  header{
    justify-content: center;
  }

  .title{
    justify-content: space-around;
    width: 100%;
    margin-left: 0;
  }

  .title span{
    display: none;
  }

  nav{
    display: none;
  }

  .mobile-menu {
  display: inline-flex;
  }
}

/* Jumbotron */

.jumbotron {
  display: flex;
  width: 100%;
  background-color: gainsboro;
  flex-direction: row;
}

.leftjumbo {
  width: 60%;
  margin: 32px 24px;
  height: auto;
}

.leftjumbo img {
  max-width: 100%;
}

.rightjumbo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.jumbohead {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  height: 50%;
  margin-left: 24px;
  /*flex-shrink: 3;*/
}

.jumbohead h2{
}

.jumbohead p{
  font-size: 1.4rem;
  /*flex-shrink: 1;*/
}

.startbutton {
  background-color: DimGrey;
  padding: 16px 0px;
  text-align: center;
  width: 100%;
  /*flex-shrink: 2;*/
}

.startbutton span{
  color: white;

}

/* media queries */

@media only screen and (max-width: 1000px){
  .jumbotron{
    flex-direction: column;
  }

  .leftjumbo{
    width: 100%;
    margin: 0 0;
  }

  .rightjumbo {
    width: 100%;
    align-items: center;
  }

  .jumbohead {
    width: 100%;
    margin: 0px 0px;
  }

  .jumbohead h2{
    padding: 32px 16px 16px 16px;
    font-size: 2rem;
  }

  .jumbohead p {
    padding: 16px 16px 12px 16px;
  }

  .startbutton {
    margin: 12px 16px 32px 16px;
    max-width: 90%;
  }
}

/* main section */

.main {
  display: flex;
  width: 100%;
}

.main-left {
  width: 60%;
  margin: 32px 24px;
  display: flex;
  flex-direction: column;
  height: auto;
}

.main .contain-img  {
  width: 100%;
  height: auto;
}

.main .contain-img img {
  width: 100%;
}

.mainhead{
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mainhead h2{
  padding-bottom: 24px;
}

.quote{
  font-size: 0.8rem;
  padding-top: 32px;
}

.main-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  margin-top: 32px;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.box:nth-child(3n+3)
{
  background-color: gainsboro;
}

.box .contain-img:first-child {
  margin-top: 0px;
}

.box .contain-img  {
  width: 35%;
  height: auto;
  margin: 16px 16px;
}

.box .content  {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box .mobile {
  display: none;
}

.box .contain-img img {
  width: 100%;
}

.box p {
  padding-top: 16px;
}

/* media queries Feature: main */

@media only screen and (max-width: 600px){
  .main-left {
    display: none;
  }

  .main-right {
    width: 100%;
    align-items: center;
  }

  .box {
    flex-direction: column;
    align-items: center;
    margin: 16px 16px 64px 16px;
    max-width: 470px;
  }

  .box .contain-img {
    width: 90%;
  }

  .box .contain-img .desktop {
    display: none;
  }

  .box .mobile {
    display: block;
    width: 100%;
    height: auto;
  }

  .box:nth-child(3n+3)
  {
    background-color: white;
  }

}


/* feature section: learning */
.learning {
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
}

.feature-head{
  width: 100%;
}

.feature-head h2 {
  margin: 32px 0;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.carousel {
  margin: 0 72px 32px 72px;
}

.courses-contain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.course{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 16px 16px;
  background-color: white;
}

.course .contain-img {
  height: auto;
  width: 100%;
}

.course img {
  width: 100%;
}

.course .content {
  margin: 16px 16px;
  display: flex;
  flex-direction: column;
}

.course .content span {
  padding: 8px 0px;
}

/* media queries feature section: leaerning */

@media only screen and (max-width: 700px){
  .feature-head {
    background-color: white;
  }

  .feature-head h2 {
    margin: 32px 0px 16px 0px;
  }

  .carousel {
    margin: 0px;
    background-color: white;
  }

  .courses-contain{
    width: 100%;
    justify-content: center;
  }

  .course {
    background-color: gainsboro;
    width: 90%;
    margin: 8px 0px;
  }
  .course .contain-img {
    display: none;
  }
  .course .content span {
    display: none;
  }
  .course .content p {
    display: none;
  }

  .course .content h4 {
    margin: 16px 24px;
  }

}


/* Thesis exhibition section */

.theses {
  background-color: white;
}

.exhibits{
  display: flex;
  flex-direction: row;
}

.exhibits-main{
  width: 60%;
  margin-left: 24px;
}

.exhibits .content {
  margin-right: 24px;
}

.exhibits .content h4{
  padding-bottom: 8px;
}

.exhibits .content p {
  padding-bottom: 32px;
}

.video {
  margin-bottom: 24px;
  margin-right: 24px;
}

.video video {
  width: 100%;
}

.exhibits-side{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.exhibit-thesis{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.exhibit-thesis:first-child{
  background-color: gainsboro;
}


.exhibit-thesis .contain-img {
  width: 35%;
  height: auto;
  margin: 16px 16px;
}

.exhibit-thesis .content {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
}

.exhibit-thesis .content h4 {
  padding-top: 8px;
  padding-bottom:8px;
}

/* media queries */

@media only screen and (max-width: 470px){
  .exhibits-side {
  display: none;
  }

  .exhbits-side .content {
  display: none;
  }

  .exhibits-main .content {
  display: none;
  }

  .exhibits-main{
  width: 100%;
  }
}


/* footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.foot-left {
  margin-left: 24px;
  margin-top: 16px;
}

.foot-right {
  margin-right: 24px;
  margin-top: 16px;
  height: 100px;
}

.foot-right span{
  padding-left: 8px;
}

/* media queries */

@media only screen and (max-width: 470px){
  .foot-right {
    display: none;
  }

  .foot-left {
    margin-bottom: 16px;
  }
}
